name: C/C++ CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: apt install
      run: sudo apt-get install -y
        gir1.2-gstreamer-1.0
        git
        make
        gstreamer1.0-plugins-bad
        gstreamer1.0-plugins-base
        libgstreamer1.0-dev
        libgstreamer-plugins-base1.0-dev
        valac
    - name: make
      run: make CFLAGS=-DENABLE_FAULT_INJECTION=1
    - name: apt install for tests
      run: sudo apt-get install -y
        dbus
        gstreamer1.0-tools
        python-dbus
        python-pytest
        python-pytest-xdist
    - name: make check
      continue-on-error: true
      run: make check
